.userActions a,
.userActions a:visited,
.userActions a:hover,
.userActions a:active {
    color: inherit;
    text-decoration: none;
}

.logoContainer a {
    display: block;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #7000ff;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}